<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ProcessingTimeLimitMilliseconds" value="120000" />
		<add key="connectionString" value="Data Source=WS-HOME\SQLDEVSERVER;Initial Catalog=kip_test;Persist Security Info=True;User ID=sa;Password=incoding123" />
	</appSettings>
</configuration>